@{
    Layout = null;

    var head = "Módulo 5";
    var titulo = "ASP.NET Razor";
    var program = "CIGAM DEVs";

    //criando vetor languagesAndTools do tipo string
    string[] languagesAndTools = { "Oracle SQL", "Magic XPA", "C#", ".NET", "HTML", "CSS", "JavaScript", "REACT", "NODE.JS", "ASP .NET", "OData" };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@head</title>
</head>
<body>
    <div>
        <h1>@titulo</h1>

        <h3>@program</h3>
        <h5>Linguagens e ferramentas que serão utilizadas:</h5>
        <ul>
            @foreach (var linguagem in languagesAndTools)
            {
                <li>@linguagem</li>
            }
        </ul>
    
    </div>
</body>
</html>
