@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IFs</title>
</head>
<body>
    
    @{ 
        var nota = 8.5;
        if(nota == 10)
            {
                <p>Nota máxima</p>
            }
        else if (nota > 7 && nota < 10)
            {
                <p>Nota dentro do perfil aprovado.</p>
            }
        else
            {
                <p>Reprovado.</p>
            }
    }

</body>
</html>
