@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Variaveis</title>
</head>
<body>

    <!-- Armazenando valores em uma variavel -->
    @{ var anonovo = "Feliz " + DateTime.Now.Year; }

    <!-- Apresentando o texto em uma variavel -->
    <p>@anonovo</p>

</body>
</html>
